

div.menu {
  padding: 0;
  margin: 0;

  ul.closed {
    li {
      display: none !important;
    }
  }

  ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      position: relative;
      flex: 1;
      border-right: 1px solid #4edfc9;

      a {
        display: block;
        white-space: nowrap;
        padding-top: 10px;
        min-height: 35px;
        line-height: 1;
        text-align: center;
        text-decoration: none;
        font-size: 15px;
        font-weight: bold;
        background:#056c05  !important;
        color: #ffffff;

        &:hover {
          background: #f00f03  !important;
          text-decoration: underline;
        }
      }

      ul {
        display: block;
        position: absolute;
        top: 35px;
        left: 0;
        width: 100%;

        li {
            border-bottom: 1px solid #4edfc9;
            a {
            padding-left: 5px;
            line-height: 1;
            max-height: 35px;
            text-align: left;
            min-width: 200px;
          }
        }
      }
    }

  }

}

