@color_0a: #7f3d17;
@color_0b: #7f5e17;
@color_0c: #c2c188;
@color_0d: #f3f2e5;
@fserif: "Ties New Roman", Georgia, serif;
@fsans: arial, verdana, sans-serif;

html,
body,
div,
span,
table,
td,
label,
p,
a,
input,
ul,
li,
button {
  padding: 0;
  margin: 0;
  text-align: left;
  font-size: 12px;
  font-family: @fserif;
  // box-sizing: border-box;
}

html {
  background-color: #e02727;
}

body {
  // position: relative;
  padding: 0;
  margin: 0 5px;
  overflow-y: auto;
  overflow-x: auto;
  background: #d7c9c9;
}

img {
  max-width: 100%;
  display: block;
}

#page {
  width: 100%;
  height: 600px;
  max-height: 600px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: stretch;
  justify-content: space-between;
}

@head_height: 35px;

div.header {
  min-height: @head_height;
  max-height: @head_height;
  display: flex;
  flex-direction: row;
  // justify-content: start;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: nowrap;
  background-color: #000000;
}

// @menu_height: @head_height;
// @menu_sub_top: @head_height;
// @menu_color: #ffffff;
// @menu_bck: #056c05;
// @menu_bck_hover: #f00f03;
// @menu_border: #4edfc9e8;

// div.menu {
//   font-size: 14px;
//   font-weight: bold;
//   width: 40%;
//   text-align: left;
//   padding: 0;
//   margin: 0;

//   ul.closed {
//     li {
//       display: none !important;
//     }
//   }

//   ul {
//     display: flex;
//     flex-direction: row;
//     align-items: center;
//     justify-content: flex-start;
//     list-style: none;
//     margin: 0;
//     padding: 0;

//     li {
//       position: relative;
//       flex: 1;
//       border-width: 0 1px 1px 0;
//       border-color: @menu_border;
//       border-style: solid;

//       a {
//         display: block;
//         white-space: nowrap;
//         padding-top: 10px;
//         min-height: @menu_height - 10px;
//         max-height: @menu_height;
//         line-height: 1;
//         text-align: center;
//         text-decoration: none;
//         background: @menu_bck  !important;
//         color: @menu_color;

//         &:hover {
//           background: @menu_bck_hover  !important;
//           text-decoration: underline;
//         }
//       }

//       ul {
//         display: block;
//         position: absolute;
//         top: @menu_sub_top;
//         left: 0;
//         width: 100%;

//         li {
//           a {
//             padding-left: 5px;
//             line-height: 1;
//             max-height: @menu_height;
//             text-align: left;
//             min-width: 100px;
//           }
//         }
//       }
//     }

//   }

// }

div.hmenu{
  flex:1;
}

div.hbar {
  flex:3;
  padding-top: 10px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  background: @color_0c;
  color: #250f02;
}

div.middle {
  background: @color_0d;
  color: @color_0a;
  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  height: 100%;
  border: 1px solid #7f3d17;
  box-sizing: border-box;
}

// div.main0 {
//   background: @color_0d;
//   color: @color_0a;
//   text-align: left;
//   min-width: 5%;
//   border-right: 1px solid #7a5151;
//   display: flex;
//   flex-direction: column;
//   flex-wrap: nowrap;
//   align-items: stretch;
//   justify-content: space-between;
// }

// div.msg {
//   font-size: 16px;
//   background: darken(@color_0d, 10%);
//   height: 24%;
// }

div.main1 {
  font-size: 16px;
  background: @color_0d;
  color: @color_0a;
  text-align: left;
  // width: 100%;
}